@page
@model School.Ui.Pages.Student.EditModel
@{
}
<form class="row g-3" method="post">
    @Html.HiddenFor(t=>t.Student.StudentId)
    <div>
        <div class="mb-3">
            <label asp-for="Student.FirstName" class="form-label"></label>
            <input asp-for="Student.FirstName" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Student.LastName" class="form-label"></label>
            <input asp-for="Student.LastName" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Student.Address" class="form-label"></label>
            <input asp-for="Student.Address" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Student.BirthDay" class="form-label"></label>
            <input asp-for="Student.BirthDay" type="date" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary"> Update</button>
    </div>
</form>