<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>

	<acrivePackageSources>
		<add key="All" value="(Aggregate source)"/>
	</acrivePackageSources>

	<packageSources>
		<!--<clear/>
		<add key="YourCompanyProxy" value="https://your_package_manager/" />-->
	</packageSources>

	<disabledPackageSources>
		<add key="nuget.org" value="true"/>
		<add key="Microsoft and .NET" value="true"/>
	</disabledPackageSources>
</configuration>